:root {
  --primary-color: rgb(255, 183, 66);
  --primary-color-2: rgb(255, 154, 1);
  --muted-primary-1: #E68E00;
  --muted-primary-2: #B86900;
  --secondary-color: #00a0ff;
  --secondary-color-2: #66c4f9;
  --black-bg-color: rgb(17, 18, 19);
  --white-bg-color: #F0F7F4;
  --grey-darker: rgb(24, 40, 53);
  --grey-darkest: rgb(6, 11, 14);
  --grey-mid: #2B4860;
  --grey: rgb(49, 90, 114);
  --grey-lighter: #629BBC;
  --grey-lightest: #A9C8DA;
  --plain-grey: ;


  --box-shadow-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  --box-shadow-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --box-shadow-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --box-shadow-4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --box-shadow-5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

  --primary-gloss: 0 19px 38px rgba(255, 183, 66,0.30), 0 15px 12px rgba(255, 183, 66,0.22);
  --secondary-gloss: 0 19px 38px rgba(0, 160, 255,0.30), 0 15px 12px rgba(0, 160, 255,0.22);
  --gloss: 0 19px 38px rgba(256,256,256,0.30), 0 15px 12px rgba(256,256,256,0.22);

  --primary-glow: 3px 0 10px rgba(145, 72, 0, 0.8), -3px 0 10px rgba(255, 183, 66, 0.8);
  --primary-glow-small: 1px 0 5px rgba(145, 72, 0, 0.8), -1px 0 5px rgba(255, 183, 66, 0.8);
  --primary-glow-2: 3px 0 10px rgba(255, 191, 127, 0.8), -3px 0 10px rgba(255, 191, 127, 0.8);
  --dark-glow: 3px 0 20px rgba(0, 0, 0, 0.8), -3px 0 20px rgba(0, 0, 0, 0.8);
  --dark-blue-glow: 3px 0 10px rgba(7, 101, 155, 0.8), -3px 0 10px rgba(7, 101, 155, 0.8);
  --secondary-glow: 3px 0 10px rgba(175, 226, 255, 0.8), -3px 0 10px rgba(175, 226, 255, 0.8);
  --disabled-button-bg-color: #777;
  --disabled-button-text-color: #ffffff;
  --disabled-input-bg-color: #f5f5f5;
  --success-state-color: #7171fc;
  --warning-state-color: #eed202;
  --error-state-color: #fb404b;
}

@font-face {
  font-family: "FontGlobalCitizen";
  src: url('~assets/font2.woff') format('woff');
}

html,
body {
  /* Base/D/16 */
  overflow-x: hidden;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  color: var(--text-color);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background-color: var(--bg-color);
  margin:0;
  padding:0; 
}

.material-icons-outlined {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

*,
*:before,
*:after {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: unset;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
  -webkit-tap-highlight-color: transparent;
  outline: none;
  box-sizing: border-box;
  margin: 0;
  background-color: transparent;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

.button-link {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.underline-mark {
  position: relative;
}

.underline-mark::after{
  content: "";
  position: absolute;
  bottom: -0.125rem;
  left: -0.5rem;
  right: -0.5rem;
  height: 0.75rem;
  z-index: -2;
  overflow: visible;
  background-image: url(~assets/handwritten_underline_1.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

select {
  height: 46px;
  border-radius: 0.5rem;
  width: 100%;
  position: relative;
  outline: none;
  background-color: var(--field-color);
  color: var(--text-color);
  font-size: 1rem;
  padding: 10px 2.5rem;
  border: 1px solid transparent;
  transition: 0.2s ease-in-out;
}

select:hover, select:focus {
  border: 2px solid var(--secondary-color);
  transition: 0.2s ease-in-out;
}

select option {
  border: none;
}

.default-option {
  color: var(--grey-text-color-2);
}

.pageTitleFont {
  /* Title/D/48 */
  font-family: FontGlobalCitizen;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.045em;
  color: white;
  font-size: 2.5rem;
  line-height: 150%;
  width: 100%;
  color: var(--menu-color-5);
}

.pageTitleFont .colored {
  text-shadow: var(--orange-glow);
  filter: brightness(1.1);
  color: var(--primary-color);
}

.pageTitleFont .colored-2 {
  text-shadow: var(--blue-glow);
  color: var(--secondary-color);
}

.h1Font {
  /* H1/D/32 */
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 140%;
  /* identical to box height, or 45px */
  letter-spacing: 0.025em;
  color: white;
}

.h2Font {
  /* H2/D/24 */
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
  /* identical to box height, or 34px */
  color: white;
}

.h3Font {
  /* H3/D/22.3 */
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22.4px;
  line-height: 140%;
  /* or 31px */
  letter-spacing: 0.025em;
  color: white;
}

.h4Font {
  /* H4/D/19.2 */
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 19.2px;
  line-height: 32px;
  /* identical to box height, or 167% */
  color: white;
}

.baseFont {
  /* Base/D/16 */
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  color: white;
}

.subBaseFont {
  /* Sub base/D/14.88 */
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14.88px;
  line-height: 150%;
  /* or 22px */
}

.smallFont {
  /* Small/Capital/D/12 */
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */
  letter-spacing: 0.1em;
}

.opacity0 {
  opacity: 0;
}

.opacity1 {
  opacity: 1;
}

.opacity-transition {
  transition: opacity 0.2s ease-in-out;
}

.styled-scrollbar {
  scrollbar-color: var(--grey-darker) var(--grey-darkest);
  scrollbar-width: thin;
  overflow-y: scroll;
}

.styled-scrollbar::-webkit-scrollbar {
  width: 0.5rem;
  background-color: var(--grey-darkest);
}

.styled-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--grey-darker);
  border-radius: 2rem;
  transition: background-color 1s linear;
  
}

.styled-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--grey);
  transition: background-color 1s linear;
}

.input-sub {
  font-size: 0.8rem;
  padding-right: 0.5rem;
  color: var(--subtext-color);
  justify-content: flex-end;
  transition: color 0.1s ease-in-out;
}

.input-sub.left {
  padding-right: 0;
  padding-left: 0.5rem;
  justify-content: flex-start;
}

.input-sub a:hover {
  color: var(--orange);
  transition: color 0.2s ease-in-out;
}

.with-sub {
  margin-bottom: 0.2rem !important;
}

.orange-button {
  background-color: var(--muted-orange) !important;
}

.orange-button:hover {
  background-color: var(--orange) !important;
  transition: all 0.2s linear;
}

.blue-button {
  background-color: var(--secondary-color) !important;
}

.blue-button:hover {
  background-color: var(--secondary-color-2) !important;
  transition: all 0.2s linear;
}

.orange-button-text {
  color: var(--muted-orange);
  transition: color 0.1s ease-in-out;
}

.orange-button-text:hover {
  color: var(--orange);
  transition: color 0.1s ease-in-out;
}

.blue-button-text {
  color: var(--secondary-color);
  transition: color 0.1s ease-in-out;
}

.blue-button-text:hover {
  color: var(--secondary-color-2);
  transition: color 0.1s ease-in-out;
}

.grey-button-text {
  color: var(--subtext-color);
  transition: color 0.1s ease-in-out;
}

.vue-notification {
  box-shadow: 0px 8px 16px rgba(39, 40, 51, 0.2);
  border-radius: 4px;
}

.vue-notification.success {
  background: #edf9f0 !important;
  border: 1px solid #5aca75;
  color: #287d3c;
}

.vue-notification.warning {
  background: #fff4ec !important;
  color: #b95000;
  border: 1px solid #ff8f39;
}

.vue-notification.error {
  background: #feefef !important;
  border: 1px solid #f48989;
  color: #da1414;
}

.vue-notification.info {
  background: #eef2fa !important;
  border: 1px solid #89a7e0;
  color: #2e5aac;
}

.noLink {
  text-decoration: none;
  color: inherit;
}

.numberBadge {
  height: 25px;
  width: 25px;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  font-size: 0.8rem;
  margin: 0 5px;
  box-shadow: 0px 0px 4px 1px grey;
}

.filledBrand {
  background-color: var(--primary-color);
  color: white;
}

.initials {
  border-radius: 50%;
  padding: 10px;
  background-color: var(--primary-color);
  color: white;
}

/* .bg-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 60vh;
  } */
.nowrap {
  white-space: nowrap;
}

.datetime {
  border: none;
  outline: none;
  background: inherit;
  color: inherit;
}

.lineHeight35 {
  line-height: 35px;
}

.maxWidth1280px {
  max-width: 1280px;
}

.maxWidth540px {
  max-width: 540px;
}

.full-width {
  width: 100vw;
  overflow-x: hidden;
  /* position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw; */
}

.avatar {
  vertical-align: middle;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.ql-formats>button {
  min-width: unset;
  box-shadow: unset;
  margin: unset;
}

.avatar_mini {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* .placeholder {
    font-size: 0;
    line-height: 0;
    animation: fading 1.5s infinite;
    opacity: 0.1;
    min-width: 100px;
  } */
.placeholder img {
  background-color: black;
  max-width: 100%;
}

.placeholder div {
  background-color: black !important;
  height: 20px;
  margin: 3px 0;
}

.placeholder a {
  background-color: rgb(100, 200, 255);
  opacity: 0.4;
}

label {
  color: grey;
  font-size: 0.8rem;
}

table {
  width: 100%;
  margin: 20px 0 20px 0;
  overflow-x: auto;
  border-collapse: collapse;
}

table th {
  padding: 0.5rem;
  text-align: center;
  background-color: #5d666f;
  color: white;
  word-wrap: break-word;
}

table td {
  text-align: center;
  word-wrap: break-word;
  border-bottom: 1px solid #ddd;
}

table td div {
  padding: 0.3rem 0.3rem 0.3rem 0;
}

.noResultAvatar {
  width: 270px;
  height: 220px;
}

.inlineLink {
  color: var(--primary-color);
  cursor: pointer;
}

.inlineLink:hover {
  text-decoration: underline;
}

.greyFont {
  color: rgb(194, 193, 193);
}

.fixToBottom {
  position: absolute;
  bottom: 20px;
}

.uppercase {
  text-transform: uppercase;
}

.whiteFont {
  color: white;
}

.blackFont {
  color: black;
}

.brandFont {
  color: var(--primary-color);
}

.brand2Font {
  color: #2b2930;
}

.brand2LightFont {
  color: rgb(90, 86, 100);
}

.bold {
  font-weight: bold;
}

.elementRow {
  margin: 0.5rem 0rem;
}

.inputRow {
  margin: 1rem 0rem;
}

.absolute {
  position: absolute;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.blogContainer img {
  width: 100%;
}

.blogContainer p {
  padding: 10px 0;
}

.blogCover {
  max-width: 600px;
}

.textBetweenLine {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid whitesmoke;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.textBetweenLine span {
  background: #fff;
  color: gainsboro;
  padding: 0 10px;
}

.brandBottomBorder {
  border-bottom: 1px solid var(--primary-color);
}

.brandBottomBorder2 {
  border-bottom: 1px solid lightgray;
}

.brandBottomBorder3 {
  border-bottom: 1px solid whitesmoke;
}

section {
  padding: 60px 0;
}

.sectionTitle {
  padding-bottom: 30px;
}

.sectionSubTitle {
  padding: 0 50px 20px 50px;
}

.sectionInfo {
  padding: 20px;
}

.tag {
  font-size: 0.85em;
  padding: 0.2em 0.9em;
  margin: 0.3em;
  background-color: var(--secondary-color-var1);
  border: 1px solid var(--primary-color);
  color: var(--text-color-var2);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 0.2em;
  line-height: normal;
  cursor: pointer;
}

.tag.selected {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: white;
  transition: 0.2s ease-in;
}

.pointer {
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  display: none;
}

.skeleton {
  animation: skeleton-loader 1s linear infinite alternate;
}

@keyframes skeleton-loader {
  0% {
    background-color: rgba(109, 128, 148, 0.7);
  }
  100% {
    background-color: rgba(109, 128, 148, 0.3);
  }
}

@keyframes fade {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

/**************************************** ************************************************* */
/* Media Queries for responsive layouts */
@media only screen and (max-width: 600px) {

  html,
  body {
    /* Base/M/12 */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */
    color: white;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    width: 100%;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
    margin: 0;
  }

  .pageTitleFont {
    /* Title/M/36 */
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 130%;
    /* identical to box height, or 47px */
    color: white;
  }

  .h1Font {
    /* H1/M/24 */
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 140%;
    /* identical to box height, or 34px */
    color: white;
  }

  .h2Font {
    /* H2/M/18 */
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
    /* or 25px */
    color: white;
  }

  .h3Font {
    /* H3/M/16.8 */
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16.8px;
    line-height: 38px;
    /* identical to box height, or 226% */
    color: white;
  }

  .h4Font {
    /* H4/M/14.4 */
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14.4px;
    line-height: 32px;
    /* identical to box height, or 222% */
    color: white;
  }

  .baseFont {
    /* Base/M/12 */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */
    color: white;
  }

  .subBaseFont {
    /* Sub base/M/11.16 */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11.16px;
    line-height: 150%;
    /* identical to box height, or 17px */
    color: white;
  }

  .smallFont {
    /* Small/Capital/M/9 */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 150%;
    /* identical to box height, or 13px */
    letter-spacing: 0.03em;
    color: white;
  }

  .headContentInfo {
    flex: 0 0 49%;
    height: 100px;
    margin-bottom: 10px;
  }

  .headContentInfo:nth-child(3n) {
    flex: 0 0 100%;
  }

  .bg-image {
    min-height: 40vh;
  }


  section {
    padding: 40px 0;
  }

  .sectionTitle {
    padding-bottom: 30px;
  }

  .sectionSubTitle {
    padding: 0 50px 20px 50px;
  }

  .sectionInfo {
    padding: 20px;
  }

  table td {
    text-align: center;
    padding: 0.4rem;
    word-wrap: break-word;
  }

}

/* sm- css for screen sizes between 601px and 960px */
@media only screen and (min-width: 601px) and (max-width: 960px) {

  section {
    padding: 40px 0;
  }

  .sectionTitle {
    padding-bottom: 30px;
  }

  .sectionSubTitle {
    padding: 0 50px 20px 50px;
  }

  .sectionInfo {
    padding: 20px;
  }

  .vue-notification-group {
    bottom: 100px !important;
  }

  html,
  body {
    font-size: 15px;
    line-height: 22px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    width: 100%;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
    margin: 0;
  }
}

/* md- css for screen sizes between 961px and 1280px */
@media only screen and (min-width: 961px) and (max-width: 1280px) {
  .no-wrap-md {
    flex-wrap: nowrap;
  }

  .wrap-md {
    flex-wrap: wrap;
  }

  .scrollX-md {
    width: 100%;
    overflow-x: scroll;
  }

  .flex-md-50 {
    /* max-width: 50%;
    width:100%; */
    flex: 0 0 50%;
  }

  .flex-md-60 {
    max-width: 60%;
    flex: 0 0 60%;
  }

  .flex-md-40 {
    /* max-width: 50%;
    width:100%; */
    flex: 0 0 40%;
  }

  .flex-md-25 {
    /* max-width: 25%;
    width:100%; */
    flex: 0 0 25%;
  }

  .flex-md-20 {
    flex: 0 0 20%;
  }

  .flex-md-30 {
    flex: 0 0 30%;
  }

  .flex- .flex-md-40 {
    flex: 0 0 40%;
  }

  .flex-md-60 {
    flex: 0 0 60%;
  }

  .flex-md-70 {
    flex: 0 0 70%;
  }

  section {
    padding: 50px 0;
  }

  .sectionTitle {
    padding-bottom: 30px;
  }

  .sectionSubTitle {
    padding: 0 50px 20px 50px;
  }

  .sectionInfo {
    padding: 20px;
  }

  .display1 {
    color: #1c1c28, 100%;
    font-weight: bold;
    font-size: 64px;
    line-height: 77px;
  }

  .display2 {
    color: #1c1c28, 100%;
    font-size: 56px;
    line-height: 68px;

  }

  .h1 {
    color: #1C1C28, 100%;
    font-weight: bold;
    font-size: 40px;
    line-height: 54px;
  }

  .h2 {
    color: #1C1C28, 100%;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
  }

  .h3 {
    color: #1C1C28, 100%;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
  }

  .h4 {
    color: #1C1C28, 100%;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
  }

  .h5 {
    color: #1C1C28, 100%;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
  }

  .h6 {
    color: #1C1C28, 100%;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
  }

  .lead {
    color: #1C1C28, 100%;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
  }

  html,
  body {
    font-size: 16px;
    line-height: 24px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    width: 100%;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
    margin: 0;
  }
}

/* Media Queries end */