:root {
  --primary-color: #ffb742;
  --primary-color-2: rgb(255, 154, 1);
  --muted-primary-1: #E68E00;
  --muted-primary-2: #B86900;
  --secondary-color: #00a0ff;
  --secondary-color-2: #66c4f9;
  --black-bg-color: #111213;
  --white-bg-color: #F0F7F4;
  --black-transparent-color: rgba(17, 18, 19, 0.5);
  --white-transparent-color: rgba(240, 247, 244, 0.5);
  --grey-darker: rgb(24, 40, 53);
  --grey-darkest: rgb(6, 11, 14);
  --grey-mid: #2B4860;
  --grey: rgb(49, 90, 114);
  --grey-lighter: #629BBC;
  --grey-lightest: #A9C8DA;
  --plain-grey: ;


  --box-shadow-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  --box-shadow-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --box-shadow-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --box-shadow-4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --box-shadow-5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

  --primary-gloss: 0 19px 38px rgba(255, 183, 66,0.30), 0 15px 12px rgba(255, 183, 66,0.22);
  --secondary-gloss: 0 19px 38px rgba(0, 160, 255,0.30), 0 15px 12px rgba(0, 160, 255,0.22);
  --gloss: 0 19px 38px rgba(256,256,256,0.30), 0 15px 12px rgba(256,256,256,0.22);

  --primary-glow: 3px 0 10px rgba(145, 72, 0, 0.8), -3px 0 10px rgba(255, 183, 66, 0.8);
  --primary-glow-small: 1px 0 5px rgba(145, 72, 0, 0.8), -1px 0 5px rgba(255, 183, 66, 0.8);
  --primary-glow-2: 3px 0 10px rgba(255, 191, 127, 0.8), -3px 0 10px rgba(255, 191, 127, 0.8);
  --dark-glow: 3px 0 20px rgba(0, 0, 0, 0.8), -3px 0 20px rgba(0, 0, 0, 0.8);
  --dark-blue-glow: 3px 0 10px rgba(7, 101, 155, 0.8), -3px 0 10px rgba(7, 101, 155, 0.8);
  --secondary-glow: 3px 0 10px rgba(175, 226, 255, 0.8), -3px 0 10px rgba(175, 226, 255, 0.8);
  --pink-glow: 3px 0 10px rgba(255, 66, 233, 0.8), -3px 0 10px rgba(255, 66, 233, 0.8);
  --disabled-button-bg-color: #777;
  --disabled-button-text-color: #ffffff;
  --disabled-input-bg-color: #f5f5f5;
  --success-state-color: #7171fc;
  --warning-state-color: #eed202;
  --error-state-color: #fb404b;
}

@font-face {
  font-family: "FontGlobalCitizen";
  src: url('~assets/font2.woff') format('woff');
}

html,
body {
  /* Base/D/16 */
  overflow-x: hidden;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  color: var(--text-color);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background-color: var(--bg-color);
  margin:0;
  padding:0; 
}

.material-icons-outlined {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

*,
*:before,
*:after {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: unset;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
  -webkit-tap-highlight-color: transparent;
  outline: none;
  box-sizing: border-box;
  margin: 0;
  background-color: transparent;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

.button-link {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.underline-mark {
  position: relative;
}

.underline-mark::after{
  content: "";
  position: absolute;
  bottom: -0.125rem;
  left: -0.5rem;
  right: -0.5rem;
  height: 0.75rem;
  z-index: -2;
  overflow: visible;
  background-image: url(~assets/handwritten_underline_1.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

select {
  height: 46px;
  border-radius: 0.5rem;
  width: 100%;
  position: relative;
  outline: none;
  background-color: var(--field-color);
  color: var(--text-color);
  font-size: 1rem;
  padding: 10px 2.5rem;
  border: 1px solid transparent;
  transition: 0.2s ease-in-out;
}

select:hover, select:focus {
  border: 2px solid var(--secondary-color);
  transition: 0.2s ease-in-out;
}

select option {
  border: none;
}

.default-option {
  color: var(--grey-text-color-2);
}

.tooltip, .tooltip2 {
  position: relative;
}

.tooltip::before {
  background-color: var(--menu-color-3);
  position: absolute;
  transition: all 0.2s ease-in-out;
  content: attr(data-tooltip);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.1em;
  color: white;
  padding: 0.5rem;
  border-radius: 1rem;
  top: calc(110%);
  width: max-content;
  text-align: center;
  transform: scale(0);
  transform-origin: bottom center;
}

.tooltip2::before {
  background-color: var(--menu-color-3);
  position: absolute;
  transition: all 0.2s ease-in-out;
  content: attr(data-tooltip);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.1em;
  color: white;
  padding: 0.5rem;
  border-radius: 1rem;
  top: calc(110%);
  width: 10rem;
  min-height: 1.2rem;
  text-align: start;
  transform: scale(0);
  transform-origin: bottom center;
}

.tooltip:hover::before, .tooltip2:hover::before {
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

.pageTitleFont {
  /* Title/D/48 */
  font-family: FontGlobalCitizen;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.045em;
  color: inherit;
  font-size: 2.5rem;
  line-height: 150%;
  color: var(--menu-color-5);
}

.pageTitleFont .colored {
  text-shadow: var(--orange-glow);
  filter: brightness(1.1);
  color: var(--primary-color);
}

.pageTitleFont .colored-2 {
  text-shadow: var(--blue-glow);
  color: var(--secondary-color);
}

.h1Font {
  font-weight: bold;
  font-size: 2rem;
  line-height: 140%;
  letter-spacing: 0.025em;
  color: inherit;
}

.h2Font {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: 0.1rem;
  color: inherit;
}

.h3Font {
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 140%;
  letter-spacing: 0.025em;
  color: inherit;
}

.h4Font {
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 2rem;
  color: inherit;
}

.baseFont {
  font-size: 1rem;
  line-height: 150%;
  font-weight: 100;
  color: inherit;
}

.subBaseFont {
  font-style: normal;
  font-weight: normal;
  font-size: 0.93rem;
  line-height: 150%;
}

.smallFont {
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 150%;
  letter-spacing: 0.1em;
}

.page-title-div {
  color: var(--text-color-2);
  margin-bottom: 5rem;
}

.page-title-div .pageTitleFont {
  font-size: 5rem;
  color: inherit;
}

.red-text {
  color: red !important;
}

.opacity0 {
  opacity: 0;
}

.opacity1 {
  opacity: 1;
}

.opacity-transition {
  transition: opacity 0.2s ease-in-out;
}

.styled-scrollbar {
  scrollbar-color: var(--menu-color-5) var(--menu-color);
  scrollbar-width: thin;
}

.styled-scrollbar::-webkit-scrollbar {
  width: 0.1rem;
  background-color: var(--menu-color-5);
}

.styled-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--menu-color);
  border-radius: 0.05rem;
  transition: background-color 1s linear;
  
}

.styled-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--grey);
  transition: background-color 1s linear;
}

.input-sub {
  font-size: 0.8rem;
  padding-right: 0.5rem;
  color: var(--subtext-color);
  justify-content: flex-end;
  transition: color 0.1s ease-in-out;
}

.input-sub.left {
  padding-right: 0;
  padding-left: 0.5rem;
  justify-content: flex-start;
}

.input-sub a:hover {
  color: var(--orange);
  transition: color 0.2s ease-in-out;
}

.with-sub {
  margin-bottom: 0.2rem !important;
}

.orange-button {
  background-color: var(--muted-orange) !important;
}

.orange-button:hover {
  background-color: var(--orange) !important;
  transition: all 0.2s linear;
}

.blue-button {
  background-color: var(--secondary-color) !important;
}

.blue-button:hover {
  background-color: var(--secondary-color-2) !important;
  transition: all 0.2s linear;
}

.orange-button-text {
  color: var(--muted-orange);
  transition: color 0.1s ease-in-out;
}

.orange-button-text:hover {
  color: var(--orange);
  transition: color 0.1s ease-in-out;
}

.blue-button-text {
  color: var(--secondary-color);
  transition: color 0.1s ease-in-out;
}

.blue-button-text:hover {
  color: var(--secondary-color-2);
  transition: color 0.1s ease-in-out;
}

.grey-button-text {
  color: var(--subtext-color) !important;
  transition: color 0.1s ease-in-out;
}

.nowrap {
  white-space: nowrap;
}

label {
  color: grey;
  font-size: 0.8rem;
}

.uppercase {
  text-transform: uppercase;
}

.whiteFont {
  color: white;
}

.blackFont {
  color: black;
}

.bold {
  font-weight: bold;
}

.absolute {
  position: absolute;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.pointer {
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  display: none;
}

@keyframes fade {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

.width100 {
  width: 100%;
}

.width100vw {
  width: 100vw;
}

.width80 {
  width: 80%;
}

.width50 {
  width: 50%;
}

.height100 {
  height: 100%;
}

.height100vh {
  height: 100vh;
}
.minHeight100vh {
  min-height: 100vh;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.center-strict {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

.align-start {
  align-content: flex-start;
  align-items: flex-start;
}

.align-center {
  align-content: center;
  align-items: center;
}

.align-end {
  align-content: flex-end;
  align-items: flex-end;
}

.align-space-around {
  align-items: stretch;
  align-content: stretch;
}

.wrap {
  flex-wrap: wrap;
}

.show-xs {
  display: none !important;
}

.show-sm {
  display: none !important;
}

.fixed {
  position: sticky;
}

.relative {
  position: relative;
}

/**************************************** MEDIA QUERIES ************************************************* */
/* xs */
@media only screen and (max-width: 600px) {

  html,
  body {
    font-size: 12px;
    line-height: 150%;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
    margin: 0;
  }

  .pageTitleFont {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 130%;
    /* identical to box height, or 47px */
    color: white;
  }

  .h1Font {
    /* H1/M/24 */
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 140%;
    /* identical to box height, or 34px */
    color: white;
  }

  .h2Font {
    /* H2/M/18 */
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
    /* or 25px */
    color: white;
  }

  .h3Font {
    /* H3/M/16.8 */
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16.8px;
    line-height: 38px;
    /* identical to box height, or 226% */
    color: white;
  }

  .h4Font {
    /* H4/M/14.4 */
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14.4px;
    line-height: 32px;
    /* identical to box height, or 222% */
    color: white;
  }

  .baseFont {
    /* Base/M/12 */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */
    color: white;
  }

  .subBaseFont {
    /* Sub base/M/11.16 */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11.16px;
    line-height: 150%;
    /* identical to box height, or 17px */
    color: white;
  }

  .smallFont {
    /* Small/Capital/M/9 */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 150%;
    /* identical to box height, or 13px */
    letter-spacing: 0.03em;
    color: white;
  }

  .row-xs {
    flex-direction: row;
    display: flex;
    flex: 0 1 auto;
  }

  .column-xs {
    flex-direction: column;
    display: flex;
  }

  .column-reverse-xs {
    flex-direction: column-reverse;
    display: flex;
  }

  .text-align-center-xs {
    text-align: center;
  }

  .justify-start-xs {
    justify-content: flex-start;
  }

  .justify-center-xs {
    justify-content: center;
  }

  .justify-end-xs {
    justify-content: flex-end;
  }

  .justify-space-around-xs {
    justify-content: space-around;
  }

  .justify-space-between-xs {
    justify-content: space-between;
  }

  .align-start-xs {
    align-items: flex-start;
    align-content: flex-start;
  }

  .align-center-xs {
    align-items: center;
    align-content: center;
  }

  .align-end-xs {
    align-items: flex-end;
    align-content: flex-end;
  }

  .align-space-around-xs {
    align-items: stretch;
    align-content: stretch;
  }

  .align-center-xs {
    align-items: center;
    align-content: center;
  }

  .hide-xs {
    display: none !important;
  }

  .show-xs {
    display: flex !important;
  }

  .wrap-xs {
    flex-wrap: wrap;
  }

  .no-wrap-xs {
    flex-wrap: nowrap;
  }

}

/* sm  */
@media only screen and (min-width: 961px) and (max-width: 1080px) {

  .h1 {
    color: #1C1C28, 100%;
    font-weight: bold;
    font-size: 40px;
    line-height: 54px;
  }

  .h2 {
    color: #1C1C28, 100%;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
  }

  .h3 {
    color: #1C1C28, 100%;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
  }

  .h4 {
    color: #1C1C28, 100%;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
  }

  .h5 {
    color: #1C1C28, 100%;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
  }

  .h6 {
    color: #1C1C28, 100%;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
  }

  .lead {
    color: #1C1C28, 100%;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
  }

  html,
  body {
    font-size: 16px;
    line-height: 24px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    width: 100%;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
    margin: 0;
  }

  
  .row-sm {
    flex-direction: row;
    display: flex;
    flex: 0 1 auto;
  }
  .column-sm {
    flex-direction: column;
    display: flex;
  }
  .column-reverse-sm {
    flex-direction: column-reverse;
    display: flex;
  }
  .text-align-center-sm{
    text-align: center;
  }
  .justify-start-sm {
    justify-content: flex-start;
  }
  .justify-center-sm {
    justify-content: center;
  }
  .justify-end-sm {
    justify-content: flex-end;
  }
  .justify-space-around-sm {
    justify-content: space-around;
  }
  .justify-space-between-sm {
    justify-content: space-between;
  }
  .align-start-sm {
    align-items: flex-start;
    align-content: flex-start;
  }
  .align-center-sm {
    align-items: center;
    align-content: center;
  }
  .align-end-sm {
    align-items: flex-end;
    align-content: flex-end;
  }
  .align-space-around-sm {
    align-items: stretch;
    align-content: stretch;
  }
  .no-wrap-sm {
    flex-wrap: nowrap;
  }
  .wrap-sm {
    flex-wrap: wrap;
  }

  .hide-sm {
    display: none !important;
  }

  .show-sm {
    display: flex !important;
  }

  .width100-sm {
    width: 100%;
  }
  .width80-sm {
    width: 80%;
  }

}

/* Media Queries end */